<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> </title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <form action="/product/form" method="POST">
      <center>
        <h1>Add Product</h1>
        <input name="title" />
        <!-- <input name="data2" /> -->
        <button>Submit</button>
      </center>
    </form>
  </body>
</html>
